<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alsde.Entity" version="2018.4.3" targetFramework="net471" />
  <package id="Alsde.Extensions" version="2018.5.22.6717" targetFramework="net471" />
  <package id="CSharpFunctionalExtensions" version="1.12.0" targetFramework="net471" />
  <package id="Dapper" version="1.50.5" targetFramework="net471" />
</packages>